@use "sass:map";
@import "node_modules/bootstrap/scss/bootstrap";
//Colour Theme:
$theme-colors: (
    "color1": #faf6f0,
    "color2": #f4eae0,
    "color3": #dfcda6,
    "color4": #e0bb94,

    "color5": #000000,
    "color6": #6c757d,
    // "color6": #e71d1d,
);

// * {
//     margin: 0;
//     padding: 0 ;
//     box-sizing: border-box;
// }

body {
    font-family: "Roboto", sans-serif;
    background-color: map-get($theme-colors, "color2") !important;
    color: map-get($theme-colors, "color5");
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
    //handling font sizes here
    h4 {
        font-size: clamp(1.5rem, 2.5vw + 0.6rem, 2rem);
    }
    h5 {
        font-size: clamp(1rem, 2.5vw + 0.6rem, 1.5rem);
    }
    div,
    p {
        font-size: clamp(0.8rem, 1vw + 0.2rem, 1.2rem);
    }
}

.PromptCard {
    background-color: map-get($theme-colors, "color4") !important;
    color: map-get($theme-colors, "color5");
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}
#collapseCard {
    background-color: map-get($theme-colors, "color4") !important;
    color: map-get($theme-colors, "color5");
    border: none !important;
    min-height: max-content;
}

.TaskCard {
    background-color: map-get($theme-colors, "color4") !important;
    color: map-get($theme-colors, "color5");
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }

    #taskCol {
        background-color: map-get($theme-colors, "color3") !important;
    }

    #taskCollapse{
        background-color: map-get($theme-colors, "color3") !important;
    }
    #datePicker {
        background-color: map-get($theme-colors, "color3") !important;
        border: none !important;
        outline: none !important;
        color: map-get($theme-colors, "color6") !important;
    }
}

.btnPrompt {
    background-color: map-get($theme-colors, "color4");
    border: none;
}

.datePickerWrapper {
    border: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
    // position: relative; /* Ensures that the wrapper does not add spacing around the input */

    &:focus-within {
        outline: none; /* Remove outline when input or its descendants are focused */
    }
}


// .datePicker {
//     border: 0 !important;
//     padding: 0 !important;
//     background-color: transparent !important;
//     &:focus {
//         outline: none !important;
//         box-shadow: none !important;
//         appearance: none;
//     }
// }

// @debug map-get($theme-colors, "color4");

// #prompth4{
//     color: map-get($theme-colors, "color6");
// }
